<h1 style="font-size: 22px; color: #333333;">Susan's Blog</h1>

<h2>My first experience with RailsGirls</h2>
<h3>My first experience with RailsGirls</h3>
<h4>My first experience with RailsGirls</h4>
<h5>My first experience with RailsGirls</h5>
<h6>My first experience with RailsGirls</h6>

<p>Date: 11th April, 2014</p>
<p>Things I have learnt today:</p>
<ul>
	<li>Learnt how to install Homebrew,<a href="http://rbenv.org/">Rbenv</a></li>
	<li>Learnt how to install rails </li>
	<li>Learnt HTML's basics</li>
	<li>learnt how to create a rails project</li>
	<li>Learnts how to generate a controller</li>
</ul>